@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#cookie{
	width: 1100px;
	height: 500px;
	position: absolute;
	z-index: 99999;
	top: 50px;
	left: 50px;
}
#cookie img{
	width: 100%;
	height: 100%;
}
.closeWrap{
	text-align: right;
	background: #000;
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	padding-right: 10px;
	display: flex;
    justify-content: right;
    align-items: center;
}
.closeWrap button{
	border-radius: 10px;
	padding: 3px 10px;
    margin: 5px;
}
h3{
	font-family: 'Dovemayo_gothic';
}
.topcont{
	width: 100%;
	height: 700px;
}
.topcont img{
	width: 100%;
	height: 700px;
}
.bestcont{
	height: 400px;
	margin: 50px 0 !important;
}
.bestTour{
	padding-left: 0 !important;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
	border-radius: 15px;
	height: 380px;
}
.bestTour a{
	position: absolute;
    width: 100%;
    height: 100%;
}
.bestTour img{
	width: 100%;
	height: 100%;
}
.suggest{
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
	border-radius: 15px;
	padding-right: 0 !important;
	height: 380px;
}
.suggest a{
	position: absolute;
    width: 100%;
    height: 100%;
}
.suggest img{
	width: 100%;
	height: 100%;
}
.ctcont{
	margin: 50px 0;
}
.ctcontleft{
	border-radius: 20px;
	height: 100%;
}
.ctcontleft > .carousel-item{
	height: 100%;
}
.ctcontleft img{
	height: 100%;
}
.ctcont > .carousel{
	height: 450px;
}
.notice{
	overflow-y: hidden;
	height: 450px;
}
.notice li{
	width: 50%;
}

.notice li button{
	width: 100%;
}
.ntcList{
	padding-left: 0;
    margin-bottom: 0;
}
.ntcList li{
	width: 100%;
	display: flex;
    justify-content: space-between;
    padding: 10px;
}
.faqList{
	padding-left: 0;
}
.faqList li{
	width: 100%;
	display: flex;
    justify-content: space-between;
    padding: 10px;
}
.btcont{
	width: 100%;
	height: 1000px !important;
	display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}
.btcont div{
	width: calc((100% - 60px) / 3);
	height: 50%;
	border-radius: 20px;
	margin: 10px 
}
.btcont img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.footer{
	width: 100%;
	height: 100px;
	background: gray;
}

@media screen and (max-width: 1399px){
	#cookie{
		width: 1000px;
		height: 450px;
		top: 40px;
		left: 40px;
	}
	.container{
		max-width: 1099px !important;
	}
	.topcont{
		height: 650px;
	}
	.topcont img{
		height: 650px;
	}
	.bestcont{
		height: 350px; 
	}
	.bestTour{
		height: 350px;
	}
	.suggest{
		height: 350px;
	}
	.ctcont > .carousel{
		height: 350px;
	}
	.notice{
		height: 350px;
	}
	.ntcList li{
	padding: 7px;
	}
}
@media screen and (max-width: 1199px){
	#cookie{
		width: 800px;
		height: 350px;
		top: 30px;
		left: 30px;
	}
	.closeWrap{
	font-size: 14px;
	}
	.closeWrap button{
		font-size: 14px;
	}
	.container{
		max-width: 981px !important;
	}
	.topcont{
		height: 630px;
	}
	.topcont img{
		height: 630px;
	}
	.bestcont{
		height: 320px; 
	}
	.bestTour{
		height: 320px;
	}
	.suggest{
		height: 320px;
	}
	.ctcont > .carousel{
		height: 320px;
	}
	.notice{
		height: 320px;
	}
}
@media screen and (max-width: 991px){
	#cookie{
		width: 700px;
		height: 300px;
		top: 30px;
		left: 30px;
	}
	.closeWrap{
		font-size: 12px;
	}
	.closeWrap button{
		font-size: 12px;
	}
	.container{
		max-width: 891px !important;
	}
	.topcont{
		height: 600px;
	}
	.topcont img{
		height: 600px;
	}
	.ctcont > .carousel{
		height: 280px;
	}
	.notice{
		height: 280px;
	}
}
@media screen and (max-width: 768px){
	#cookie{
		width: 500px;
		height: 200px;
		top: 30px;
		left: 30px;
	}
	.topcont{
		height: 500px;
	}
	.topcont img{
		height: 500px;
	}
	.bestcont{
		height: 280px; 
	}
	.bestTour{
		height: 280px;
	}
	.suggest{
		height: 280px;
	}
	.ctcont > .carousel{
		height: 240px;
	}
	.notice{
		height: 240px;
	}
	.ntcList li{
		font-size: 14px;
		padding: 5px; 
	}
	.notice li button{
		font-size: 14px;
	}
}
@media screen and (max-width: 576px){
	#cookie{
		width: 300px;
		height: 150px;
		top: 60px;
		left: 10px;
	}
	.topcont{
		height: 300px;
	}
	.topcont img{
		height: 300px;
	}
	.bestcont{
		height: 200px; 
	}
	.bestTour{
		height: 200px;
	}
	.suggest{
		height: 200px;
	}
	.ctcont > .carousel{
		height: 190px;
	}
	.notice{
		height: 190px;
	}
	.ntcList li{
		font-size: 10px;
		padding: 3px; 
	}
	.notice li button{
		font-size: 10px;
	}
}
}

















